## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

   City_ID            City Country  Max Temp    Lat     Lng      Hotel Name
0        1  Saint-Augustin      CA     63.52  51.23  -58.65             NaN
1        7          Nicoya      CR     87.80  10.15  -85.45   Guayacan Real
2        8       Mkokotoni      TZ     77.00  -5.88   39.25             NaN
3        9     East London      ZA     66.20 -33.02   27.91         Tu Casa
4       10         Rikitea      PF     72.25 -23.12 -134.97  Pension Maro'i

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig= gmaps.figure()
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Barcelos"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Barcelos"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "Arroyo"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "Peniche"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Cascais"]

In [21]:
vacation_stop1

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
231,381,Arroyo,ES,87.01,41.61,-4.8,Hotel El Jardín de la Abadía

In [22]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].values[0], vacation_start["Lng"].values[0])
end = (vacation_end["Lat"].values[0], vacation_end["Lng"].values[0])
stop1 = (vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0])
stop2 = (vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0])
stop3 = (vacation_stop3["Lat"].values[0], vacation_stop3["Lng"].values[0])
print(start, end, stop1,stop2, stop3)

(41.54, -8.62) (41.54, -8.62) (41.61, -4.8) (39.36, -9.38) (38.7, -9.42)

In [26]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig= gmaps.figure()
iterinary= gmaps.directions_layer(start, end, waypoints= [stop1, stop2, stop3], travel_mode="WALKING")
fig.add_layer(iterinary)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3 ],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,529,Barcelos,PT,80.01,41.54,-8.62,Hotel Do Terço
1,381,Arroyo,ES,87.01,41.61,-4.80,Hotel El Jardín de la Abadía
2,440,Peniche,PT,78.01,39.36,-9.38,Hotel Star inn Peniche
3,272,Cascais,PT,82.99,38.70,-9.42,Hotel Vila Galé Cascais

In [29]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig= gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))